<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Apply form</title>
  </head>

  <body>
    <!---------------------------MAIN CONTAINER START----------------------------------->
    <div class="wrapper">
      <!------------------------------HEADER START----------------------------------->

      <!------------------------------HEADER BANNER START----------------------------------->
      <header><%- include('../partials/sidebar'); %></header>
      <!------------------------------HEADER END--------------------------------------->

      <form onsubmit="onSubmitHandler(event, '<%=result[0].id%>')">
        <h1>Modify your message</h1>
        <div class="separation"></div>
        <div class="corps-formulaire">
          <div class="droite">
            <div class="groupe">
              <label>Message</label>
              <textarea><%=result[0].message%></textarea>
            </div>
          </div>
        </div>
        <div class="pied-formulaire" align="center">
          <button type="submit">Apply</button>
          <br /><br />
          <a href="/">Back to home page</a>
        </div>
      </form>
    </div>
    <script src="/js/applications/update.js"></script>
  </body>
</html>
